@{
    ViewData["Title"] = "ABOUT US";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData[""]</h3>

<p>Use this area to provide additional information.</p>
Ireland's no 1 charging point platform
Available on the desktop, myecar-maps.ie enables electric vehicle (EV) drivers to locate, navigate to 
and update charge points for the benefit of the EV community. In addition to the charge point map, 
myecar-maps.ie provides supporting information on charging and electric vehicles to help current or
prospective EV drivers to make more informed choices 
and enjoy their electric motoring experience.

<dt>CHARGE POINT DATABASE</dt>
 myecar-maps.ie aggregates data from various sources to provide the most comprehensive source of Ireland's charge
 points, there are currently more than 1200 public charging locations mapped on the ecars-maps.ie database.


   

    
