@{
    ViewData["Title"] = "ABOUT US";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData[""]</h3>

<p>
    Ireland's no 1 charging point platform
    Available on the desktop, myecar-maps.ie enables electric vehicle (EV) drivers to locate, navigate to
    and update charge points for the benefit of the EV community. In addition to the charge point map,
    myecar-maps.ie provides supporting information on charging and electric vehicles to help current or
    prospective EV drivers to make more informed choices
    and enjoy their electric motoring experience.
</p>

<p style="color:black">CHARGE POINT DATABASE</p>

<p>
    Myecar-maps aggregates data from various sources to provide the most comprehensive source of Ireland's charge
    points, there are currently more than 1200 public charging locations mapped on the ecars-maps.ie database.
</p>

<p>
    Myecar-maps users can search and apply filters on ecars-maps.ie to find charge points by location,
    EV models, connector type, connector speed, network, payment type and access type.
</p>

<p style="color:black">MYECAR-MAPS CHAT COMMUNITY</p>

<p>
    The Myecar-maps chat community feature is used by 1000s of EV drivers to log successful charge, update the status
    of the charge point, edit information and add last mile information. This feature is there to share information for the benefit of all EV drivers.
</p>

<p>
    Registered users can add information and updates to Myecar-maps  and view other updates on the Myecar-maps stream
    either globally or at the specific point.
</p>

<p style="color:black">CHARGING INFO RESOURCE</p>

<p>
    With so many new and technical terms relating to charge points, it can be a confusing topic; Myecar-maps provides an overview
    of the different networks, overview of charging and how to go about getting a charging point for home or work.
</p>


<p>
    Making the decision to go electric requires some careful consideration; the electric vehicle section covers the different technologies,
    practical issues to think about, the tax and grant benefits available and provides a list of electric vehicles available to buy now.
</p>

<p>If a user finds a charge point which is not currently shown on Myecar-maps, there is a facility to add details via the add a new charge point page.</p>

<
            
        
   <html>
<body>
    div {
    background-color: lightblue;
    width: 200px;
    padding: 25px;

    }
    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>

</body>
</html>








