@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    FIT GRETB<br />
    Sccul Enterprise Center<br />
    <abbr title="Phone">Phone:</abbr>
    0879927700
</address>

<address>
    <strong>Support:</strong> <a href="orla.donnelly80@gmail.com">orla.donnelly80@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="orla.donnelly80@gmail.com">orla.donnelly80@gmail.com</a>
</address>
