@{
    ViewData["Title"] = "Contact Us";
}


<h2>@ViewData["Title"].</h2>
<h3>@ViewData[""]</h3>

<address>
    FIT GRETB<br />
    Sccul Enterprise Center<br />
    <abbr title="Phone">Phone:</abbr>
    0879927700
</address>

<address>
    <strong>Support:</strong> <a href="orla.donnelly80@gmail.com">keithjordan193@msn.com, shanecunningham@live.ie, olaska@gmail.com, tayoayanda07@gmail.com  </a><br />
    <strong>Marketing:</strong> <a href="orla.donnelly80@gmail.com">orla.donnelly80@gmail.com</a>
</address>

<p>We welcome feedback on any aspect of the site and we actively seek feedback on charging points around Ireland.
    Complete the form below with any general feedback, comments or enquiries. More specific ways to contact us are detailed below.</p>

<body>

    <form action="/action_page.php">
        
        Email:<br>
        <input type="text" name="email" value="">
        <br><br>
        Message:<br>
        <input type="text" name="message" value="">
        <br><br>
              
        <input type="submit" value="Submit">

    </form>
     
</body>


    