@{
    ViewData["Title"] = "Tips";
}
<h4>TIPS YOU NEED TO KNOW</h4>
<p>
    Taking your first road trip in a plug-in electric car? Don’t sweat it.
    Traveling can be a breeze with a little planning.
    Here are four quick tips to keep in mind when you hit the road in an electric vehicle (EV).
</p>
<div id="content">
    <img class="img-responsive" src="~/images/e-cars.jpg" alt="e-cars"style="float: right" width="500" >
    <div class="container">
        <br />
       <b></b> <h4> 1. Plan Your Route</h4>

        <p> With more than 16,000 electric charging stations and 44,000 charging outlets across the country, 
         there are plenty of chances to charge up along way. Use the Alternative Fueling Station Locator to plan a route that meets your charging needs. 
         You can also bring the station locator with you by downloading the app on your iPhone or Android smartphone.
        </p>

        <h4> 2. Maximize Your Drive Time</h4>
        <p>
            EV drivers can optimize their range with smart driver behavior. To get the most out of your battery, avoid hard braking and use your accessories wisely.
            When it's time for a charge, public charging is typically available at two levels: AC Level 2 and DC fast charging.
            Charging times vary based on how depleted the battery is, how much energy it holds, the type of battery, and the type of electric vehicle supply equipment.
        </p>
        <p>
            Charging your EV can take less than 20 minutes or up to 8 hours to go from fully depleted to a complete charge.
            Make sure to keep this in mind when planning your trip. You can use the charge time to grab dinner, visit a tourist attraction along the way,
            or even stay somewhere overnight to break up the long car ride.
        </p>
        <h4> 3. Destination Parks</h4>

        <p>
            Visiting a National Park? Many of them offer electric vehicle charging for visitors. Driving to an event or a major attraction?Locations often offer preferred parking and free charging.
            Check ahead of time to see if your destination offers suck parks.
        </p>
      
